section#Top
    // Nav Bar
    nav.navbar.navbar-expand-lg.navbar-dark.sticky-top
    a.navbar-brand(href="index.html") College Garage
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarTogglerDemo01", aria-controls="navbarTogglerDemo01", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarTogglerDemo01
        ul.navbar-nav.ms-auto
        li.nav-item
            a.nav-link(href="shop.html") Shop
        li.nav-item
            a.nav-link(href="contact.html") Contact Us
        li.nav-item
            a.nav-link(href="") About
        li.nav-item
            a.nav-link(href="http://")
            i.fa-solid.fa-cart-shopping
        li.nav-item
            a.nav-link(href="login.html")
            i.fa-solid.fa-user
    // Top
    div.Top-head
    div.row
        div.col
        h1 Back to College!
        // Buttons log/Exp
        button.Top-button.btn.btn-dark.btn-lg.Top-button(type="button")
            // i.fa-solid.fa-arrow-right-to-bracket
            a.log-button(href="#") SHOP NOW